@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Pretendard-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

.container {
  width: 400px;
  margin: 50px auto 0 auto;
  padding-bottom: 30px;
  text-align: center;
  filter: 0px 0px 5px black;
 
}

.header {
  padding: 25px;
  border-radius: 5px;
}

.header h1 {
  font-size: 30px;
  margin: 0px;
  color: white;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
}

.title {
  flex: 1;
  text-align: left;
}

.create-container {
  margin: 20px;
}

.create-form {
  display: flex;
  input {
    background-color: rgb(40, 40, 40);
    border: none;
    flex: 4;
    padding: 10px;
    font-family: 'Pretendard-Regular';
    border-radius: 10px;
  }
  input:focus {
    outline: none;
  }
  button {
    flex: 0.5;
  }
}