@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Pretendard-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 400px;
  margin: 50px auto 0 auto;
  padding-bottom: 30px;
  text-align: center;
  filter: 0px 0px 5px black;
  background: white;
 
}

.header {
  background: rgb(62, 75, 255);
  padding: 25px;
  border-radius: 5px;
}

.header h1 {
  font-size: 30px;
  margin: 0px;
  color: white;
}
